
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body { 
    font-family: sans-serif !important;
    max-height: 100%;
    overflow:auto;
    scroll-behavior: smooth;
    overflow-y: auto !important;
  }

  ::-webkit-scrollbar { 
    display: none; 
 }
 
  .carousel {
    background: #EEE;
  }

  .carousel-cell {
    width: 30%;
    height: 300px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }

  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  #home-section{
    background: url(Assets/Images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section  .home-inner {
    padding-top: 100px;
    text-align: center;
}

.home-inner h1{
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 4.125rem;
    font-weight: inherit;
}
 #home-section .dark-overlay{
    top: 0;
    left:0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.5) ;
}

.navbar {
  background-color: #5DB075;
  border-bottom: #5ea572 2px solid;
  overflow: hidden;
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 1;

}

header a{
  color: rgb(245, 245, 245);
}

.nav-link {
  color: white;
}

a{
  color: white !important;
}
.form-inline{
  justify-content: center;
  margin-top: 20px;
}

#search-bar{
  margin-top: 120px;
}
#search-button{
  background-color:#5DB075 ;
  color: white;
  height: 45px;
  width: 100px !important ;
}

#search-button:hover{
  background-color: #5ea572;
}

.form-control{
  width: 400px !important ;
  height: 45px;

}

#about-section{
  padding-top: 50px;
  display: flex;
 
}

.about-row{
  display: flex;
  justify-content: center;
  align-self:center;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  
}

.lead {
  font-size: 1rem;
  font-weight: 300;
}

.about-container{
  /* margin-left: 172px;
  margin-right: -150px; */
  margin: 0


}

#popular-recipes{
  padding: 30px;
}


.nutritional-form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 300px;
}

#nutritional-card{
  border-style: none !important;
  box-shadow: none !important;
}

#logo2{
  margin-top: 60px;
}

/*
#nutrional-values{
  text-align: left;
  padding: 10px;
} */



/* * { box-sizing: border-box; } */

/* .recipe-card{
  background-color: #4E7597;
  border-radius: 5px;
  height: 300px;
  width: 400px;
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 15px;
  box-shadow: 4px 5px 15px #00000083;
} */

li {
  list-style: none; 
}

ul{
  padding-left: 5px !important;
}

#cooking-image{
  width: 500px;
  height: 400px;
  margin-left: 60px;
}

#image-cont{
  display: flex;
  margin-left: 10px;
}
.left{
  width: 360px;
  height: 350px;
  background: url(Assets/Images/bg2.jpg) no-repeat center / cover;
  border-radius: 5px;
  margin-left: 30px;
}

.right{
  width: 310px;
  height: 280px;
  background: url(Assets/Images/bg3.jpg) no-repeat center / cover;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-left: -179px;
  margin-top: 126px;;
}

/* #recipe-button{
  background-color: #5ea572;
  margin-top: 5px !important;
} */


.grid-container{
  margin-top: 30px !important;
  display: grid;
  
 
  justify-self: center !important;
  
  /* margin: 0 auto;
  display: grid; */
  
}

#recipe-cards{
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: auto auto auto;
  align-items:stretch;
  justify-self: center !important;
  
  
}

/* #recipe-cards{
  display: grid;
  grid-gap: 20px;
} */
/* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.116);
border: 1px solid #c9c9c9; */

.card{
  margin: 10px;
  /* padding: 15px; */
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,.15);
  display: grid !important;
}

.card:hover{
  border: 4px solid #59a341;
  text-decoration: 1px underline rgba(0, 0, 0, 0.658);
}  

.card img{
  border-bottom: 1px solid #c9c9c9;
}

.recipe-title{
  font-family: CopperPot,Helvetica,sans-serif;
  font-weight: 700;
  margin-top: -2px;
}

#footer-border{
 margin-top: 40px;
  border-top: 2px solid #5b5d5f;
}

input:focus::-webkit-input-placeholder {
	color : transparent;
}
input:focus::-moz-placeholder {
	color : transparent;
}
input:-moz-placeholder {
	color : transparent;
}
input:focus::-webkit-input-placeholder {
	opacity : 0;
}
input:focus::-moz-placeholder {
	opacity : 0;
}
input:-moz-placeholder {
	opacity : 0;
}

.cuisine{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  pointer-events: none !important;
  text-decoration: none !important;
  margin-left: 18px;
  margin-top: 10px;
  opacity: 1; 
  color: #194737;
}

